<div class="genre">
  <h2>Blog投稿</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" style="text-align: center;">
      <div style="margin-bottom: 10px;">
        <%= form_with(model: @tag, url: admin_tags_path,
            method: :post, local: true) do |f| %>
        <%= f.label :タグ名 %>
        <%= f.text_field :name,class:"genre__form", placeholder: "◯◯市" %>
        <%= f.submit '追加' ,class:"btn btn-outline-primary" %>
        <% end %>
      </div>
    </div>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col">#</th>
            <th scope="col">タグ名</th>
            <th scope="col">link</th>
            <th scope="col">link</th>
          </tr>
        </thead>
        <tbody>
          <% @tags.each do |tag| %>
          <tr>
            <td></td>
            <td class=""><%= tag.id %></td>
            <td class=""><%= tag.name %></td>
            <td><%= link_to "編集する", edit_admin_tag_path(tag) ,class:"btns btn-outline-success" %></td>
            <td><%= link_to "削除する", admin_tag_path(tag) ,class:"btns btn-outline-danger" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>

    <div class="col-lg-6"></div>
  </div>
</div>