<div class="sidebar">
  <p>
    <span style="font-size: 13px;">【 Awaji_Place Blog 】</span><br>
    どうも！管理人のRyoです。この度私の出身地である淡路島の魅力をもっと多くの人に伝えたいと思いこのサイトを作りました。淡路島にあるナイスなSpotを中心に紹介しますが、兵庫県全体を紹介できたらなと思っています。よろしくお願いします!😄<br>
    by Ryo
  </p>

  <ul>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-instagram-square"></i>
    <i class="fab fa-facebook"></i>
  </ul><br>
  <% if admin_signed_in? %>
    <div class="sidebar__link"><%= link_to "_ HOME", admin_posts_path %></div>
    <div class="sidebar__link"><%= link_to "_ BLOG投稿", new_admin_post_path %></div>
    <div class="sidebar__link"><%= link_to "_ GENRE作成", admin_genres_path %></div>
    <div class="sidebar__link"><%= link_to "_ TAG作成", admin_tags_path %></div>
    <div class="sidebar__link"><%= link_to "_ LAG_OUT", destroy_admin_session_path, method: :delete %></div>
    <div class="sidebar__link"><a href="" style="">_ NEWS</a></div>
    <div class="sidebar__link"><a href="" style="">_ プロフィールを見る</a></div><br>
  <% end %>

  <%
=begin%>
 <div class="sidebar__link">
    <form id="form1" action="自分のサイトURL" method="get">
    <input id="sbox1" id="s" name="s" type="text" placeholder="キーワードを入力" />
    <input id="sbtn1" class="form-btn pushright" type="submit" value="検索" /></form>
  </div> 
<%
=end%>
  <div class="sidebar__link">> 画像一覧</div>
  <div class="sidebar-image">
    <% @posts.each do |post| %>
    <div class="sidebar-image__contant">
      <!-- 4つごとに折り返し-->
      <%= link_to admin_post_path(post) do %>
        <% if post.avatar? %>
          <%= image_tag post.avatar_url, class:"sidebar-image__img" %>
        <% else %>
          <%= image_tag 'no_image.JPG', class: 'sidebar-image__img' %>
        <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="sidebar__contant">
    タグで検索
    <%= form_tag admin_posts_path, method: :get, class: 'posts__searchForm',style: 'margin-bottom: 5px;' do %>
      <%= select_tag :tag_id,
                  options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                  {
                    prompt: 'タグで絞り込み',
                    class: 'posts__select',
                    onchange: 'submit(this.form);'
                  }
      %>
    <% end %>
  </div>
    <div class="sidebar__contant">
    <span>ジャンル一覧</span>
		<% @genres.each do |genre| %>
				<!-- クリックされたジャンルのgenre_idをparamsデータとして送信 -->
				<%= form_with url: admin_posts_path, method: :get, local: true do |f| %>
					<%= f.hidden_field :genre_id, :value => genre.id %>
					<span>・</span><%= f.submit genre.name,style:"background-color: white;
						border:0px solid black; cursor: pointer;" %>
				<% end %>
		<% end %>
  </div>
  <div class="sidebar__contant">
    最新の記事
    <% @posts.each do |post| %>
      <div class="sidebar__article">
      <!-- 4つごとに折り返し-->
      <%= link_to admin_post_path(post) do %>
        <p><%= post.title %></p>
        <p><%= post.created_at.strftime('%Y年/%m月/%d日') %></p>
      <% end %>
      <div style="margin-bottom: 10px;"></div>
      </div>
    <% end %>
  </div>
  <div class="footer">
    <%= render "posts/footer" %>
  </div>
</div>