<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9">
      <div class="posts-show">
        <p class="posts-show__title"><%= @post.title %></p>
        <p class="posts-show__created"><%= @post.created_at.strftime('%Y年/%m月/%d日') %></p>
        <div class="posts-show__image">
          <%= attachment_image_tag @post, :image, fallback:"no_image.JPG",size:'300x300', class:"product-show" %>
        </div>
        <div class="posts-show__body"><%= @post.body %></div><br>
        <div class="posts-show__shop">
          <span><　</span><span><%= @post.shop_name %></span><span>　></span>
        </div>
        <p class="posts-show__created"><b>営業時間: </b><%= @post.business_hours %></p>
        <p class="posts-show__created"><b>住所: </b><%= @post.address %></p>
        <p class="posts-show__created"><b>URL: </b><%= text_url_to_link(h(@post.url)).html_safe %></p>
        <p class="posts-show__titles">Genre　</p><p class="badge badge-warning" style="padding: 5px;"><%= @post.genre.name %></p>
        <p></p>
        <p class="posts-show__titles">Tags　</p>
        <% @post.tags.each do |tag| %>
          <p class="badge badge-secondary" style="padding: 5px;">#<%= tag.name %></p>
        <% end %>
        </p>
        <% if admin_signed_in? %>
          <%= link_to edit_admin_post_path(params[:id]) do %>
            <span class="btn btn-outline-success" ,style="">編集</span>
          <% end %>
          <%= link_to "削除する",admin_post_path(@post), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"},class: "btn btn-outline-danger" %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-3">
      <%= render "admin/posts/side", posts: @posts %>
    </div>
  </div>
</div>