<div class="login">
  <div class="login__title">
    <h2>Log_in</h2>
  </div>
  <p>お疲れ様です!! formを入力してLoginして下さい。</p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <div class="login__label">
      <%= f.label :name %>
    </div>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "test", class: "login__label__field" %>
  </div>

  <div class="field">
    <div class="login__label">
      <%= f.label :email %>
    </div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "test@test.com", class: "login__label__field" %>
  </div>

  <div class="field">
    <div class="login__labels">
      <%= f.label :password %>
    </div>
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "testtest", class: "login__label__field" %>
  </div>

  <%
=begin%>
 <% if devise_mapping.rememberable? %>
  <div class="field">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
  </div>
  <% end %> 
<%
=end%>

  <div class="actions">
    <%= f.submit "Login", class:"btn btn-outline-dark btn"%>
  </div>
  <% end %>

  <%= render "admins/shared/links" %>
</div>

