<%= render "posts/header" %>
<div class="container-fluid bg">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-8">
      <%= render "news" %>
      <div class="posts-count">
        <p><%= @post %></p>　件のおすすめスポット
      </div>
      <div class="posts">
        <% @posts.each do |post| %>
        <div class="posts__content">
          <!-- 4つごとに折り返し-->
          <div class="posts__title">
            <%= post.title %>
          </div>
          <p><%= post.created_at.strftime('%Y-%m-%d') %></p>
          <%= link_to post_path(post) do %>
          <% if post.avatar? %>
            <%= image_tag post.avatar_url, class:"posts__image" %>
          <% else %>
            <%= image_tag 'no_image.JPG', class: 'posts__image' %>
          <% end %>
          <% end %>
          <div class="genre-name">
            <%= post.genre.name %>
          </div>
          <div class="impression-name">
            <i class="fas fa-eye"> <%= post.impressions_count %></i>
          </div>
        </div>
        <% end %>
      </div>
      <%= paginate @posts %>
    </div>
    <div class="col-lg-2">
      <%= render "posts/side", posts: @posts %>
    </div>
  </div>
</div>