<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9">
      <div class="posts-show">
        <div class="posts-show__image">
          <%= attachment_image_tag @post, :image, fallback:"no_image.JPG",size:'300x300', class:"product-show" %>
        </div>
        <p class="posts-show__title"><%= @post.title %></p>
        <%
=begin%>
 <p class="posts-show__created"><%= @post.created_at.strftime('%Y-%m-%d') %></p> 
<%
=end%>
        <div class="posts-show__body"><%= @post.body %></div><br>
        <div class="posts-show__shop">
          <span><　</span><span><%= @post.shop_name %></span><span>　></span>
        </div>
        <p class="posts-show__created"><b>営業時間:　</b><%= @post.business_hours %></p>
        <p class="posts-show__created"><b>住所:　</b><%= @post.address %></p>
        <p class="posts-show__created"><b>URL:　</b><%= text_url_to_link(h(@post.url)).html_safe %></p>
        <p class="posts-show__titles"></p><p class="badge badge-warning" style="padding: 5px;margin-top:10px;"><%= @post.genre.name %></p>
        <p class="posts-show__titles"></p>
        <% @post.tags.each do |tag| %>
          <p class="badge badge-secondary" style="padding: 5px;margin-left: 10px;">#<%= tag.name %></p>
        <% end %>
        </p>

        <div class="review-content">
          <div class="content average-score">
            <div class="star-rating mb-2">
              <div class="star-rating-front" style="width:<%= @post.review_score_percentage %>%">★★★★★</div>
              <div class="star-rating-back">★★★★★</div>
            </div>
            <div class="average-score-display ml-3 pt-2">
              <%= @post.avg_score %>点（<%= @post.reviews.count %>件のレビュー）
            </div>
          </div>
        </div>
        <%= render 'reviews/form', review: @review, post: @post %>

      </div>
    </div>
    <div class="col-lg-3">
      <%= render "posts/side", posts: @posts %>
    </div>
  </div>
</div>